= "Version 1.3,© 2011 by "
= open_to "HeArtMe","http://heartme.info"
%ul.skew.footer.round.shadow
	%li= open_to t('footer.aboutus'),aboutus_path
	｜
	%li= open_to t('footer.copyright'),protection_path
	｜
	%li= open_to t('footer.contact'),"http://rainbowmark.info/contact"